<h1>Oracle NoSQL Data Loader</h1>
<h3>Introduction</h3>
<p>Oracle NoSQL Data Loader can import data from csv/json/xml files into one NoSQL store. It has the following features:</p>
<ul>
<li>Support child tables.</li>
<li>Support multiple file formats: csv, json and xml.</li>
<li>Support table-creation scripts generation: add '-s' parameter.</li>
<li>Support automatic batch insertion of rows with same shard keys</li>
<li>Can configure reader/writer counts to maximize throughput.</li>
<li>Support logging of rejected rows (via logs/rejected.log), and log archive.</li>
<li>Support the following field types: boolean, double, float, integer, long, enum and string</li>
</ul>
<h4>CSV support</h4>
<ul>
<li>Support headers. The header line must be the first line of the file. In particular, if the first line is empty, the file is assumed to have no header.</li>
<li>Support strings quoted with " and '.</li>
<li>Do NOT support multi-line rows.</li>
</ul>
<h4>JSON support</h4>
<ul>
<li>Support single quote and double quote in values</li>
<li>Allow non-primary-field values to be null</li>
<li>Automatically fill STRING typed primary field with 'N/A' if it's null. But do not guarantee the whole row primary-field combination is unique.</li>
</ul>
<h4>XML support</h4>
<ul>
<li>Need to specify 'xml.rowTagName' in loader.properties file to parse the interested tag in the DOM. Otherwise, only parse the tags that names match the table name.</li>
<li>Support hex string in field values.(\uffff)</li>
<li>Allow non-primary-field values to be null</li>
<li>Automatically fill STRING typed primary field with 'N/A' if it's null. But do not guarantee the whole row primary-field combination is unique.</li>
</ul>
<h4>Overall architecture</h4>
<p>The data loader splits the data loading into 2 phases: row-text extraction and row-parsing-and-insertion.</p>
<p>Row-text extraction is split into a number of readers, while row-parsing-and-insertion is split into a number of writers. 
Readers and writers are connected by a queue. You can tune the reader and writer counts via a properties file to get the best performance.</p>
<p><image src="./Design.png"/></p>
<h4>Clustering support</h4>
We do not manage any cluster directly. However, the same loader can be deployed on multiple machines to load data simutaneously. 
<h3>Build</h3>

<h3>Configuration</h3>
Before running the data loader, you need to prepare a few things so the loader can find your data file and connect to your store.
<h4>loader.properties</h4>
<p>
On start up, the data loader requires a "loader.properties" file under the current working directory.
This files configures many runtime parameters for the loader. 

<li>storeName: KVStore store name</li>
<li>hosts: Comma separated list of KVStore helper hosts (e.g.: hosts=host1:5000,host2:5000,host3:5000)</li>
<li>Sources: Comma separated list of source directories for each file reader.<br>
&nbsp;&nbsp;&nbsp;&nbsp; - For reader n, the key is reader.n.src. n must be consecutive integers starting from 1. (e.g.: reader.1.src=data)<br>
&nbsp;&nbsp;&nbsp;&nbsp; - Only direct child regular files of the directories are imported.<br>
&nbsp;&nbsp;&nbsp;&nbsp; - Data file names must follow &lt;tableName&gt;[.&lt;n&gt;].[csv|json|xml], where <n> must be digits.<br>
&nbsp;&nbsp;&nbsp;&nbsp; - For child tables, &lt;parent&gt;.&lt;child&gt;[.&lt;n&gt;].[csv|json|xml]<br>
&nbsp;&nbsp;&nbsp;&nbsp; - When a table contains too many rows, you can split it into multiple files and use the &lt;n&gt; part to number them.<br>
</li>
<li>writerCount: Number of writers used to put rows into the KVStore</li>
<li>writerBatchSize: The maximum number of rows that would be put in a batch operation</li>
<li>xml.rowTagName: The tag name of XML elements representing a complete row (for XML files only)</li>
<li>autoFillPrimaryKey: The property specifies whether to auto-fill primary keys with N/A while it's null</li>
<br>
Please refer to the example "loader.properties" file included in the root directory of this repository for further explanation.
</p>
<h4>Naming data files</h4>
<p>
<li>The data file names must follow the pattern: "&lt;full_table_name&gt;[.&lt;nnn&gt;].[csv|json|xml]".</li> 
<li>The file name should start with full table name (case-sensitive), optionally followed by a number, and end with the format suffix.</li>
<li>The optional number part is used to support huge tables, where the data for the same table must be split into multiple data files.</li>
</p>
<h4>Placement of data files and readers</h4>
<p>
In general, the data files can be placed arbitrarily. However, since readers deal exclusively with directories and each directory can be processed by at maximum one reader, it is better to first plan the number of readers to be used, and then evenly distribute your data files
into the same number of directories.It is suggested to use 1 to 5 readers per each physical disk. You may need to try different configurations to get the best performance for your specific hardwares.
</p>
<h4> Performance Tuning</h4>
<h5>Writer count</h5>
You can change the writer count parameter to increase or decrease the number of workers used to parse the row text and insert rows. You can try to increase the writer count if you have a large NoSQL installation.
<h5>Batch execution & Shard Key</h5>
It is recommended to configure 'Shard Key' as a subset of 'Primary Keys'. For example:<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp; - Primary Keys: primary-key -field country -field id shard-key field<br>
&nbsp;&nbsp;&nbsp;&nbsp; - Shard Keys: shard-key -field country<br>
<br>
This data loader provides a feature that executes batch of rows with the same 'shard key' values. Which can reduce the delay on network by a lot. Our experiments show the difference:
<br>
&nbsp;&nbsp;&nbsp;&nbsp; - Without batch execution: 100,000 rows takes 8-9 seconds<br>
&nbsp;&nbsp;&nbsp;&nbsp; - With batch execution:  100,000 rows takes 3 seconds<br>
<h3>Run</h3>
<ol>
<li>Once you've prepared your data files and configured loader.properties, you can generate the table-creation scripts by executing:
<pre>java -jar dataloader.jar -s</pre>
</li>
<li>
After that, you may want to manually review and modify the generated scripts to better fit your intention.
</li>
<li>
Create the tables using the scripts.
</li>
<li>
Now, you are ready to load the data by executing:
<pre>java -jar dataloader.jar</pre>
</li>
</ol>
